<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <main>
        <div class="team-header">
            <div class="team-info">
                <h1 class="team-name">
                    <a href="/team/overview/{{.GameData.TeamHolder.Away.ID}}">{{.GameData.TeamHolder.Away.Name}}</a>
                </h1>
                <span class="team-record">{{.GameData.TeamHolder.Away.Record.Wins}}-{{.GameData.TeamHolder.Away.Record.Losses}}</span>
                <h2>{{.LiveData.Boxscore.BoxscoreTeamHolder.Away.BoxscoreTeamStats.BoxscoreTeamBatting.Runs}}</h2>
            </div>
            <div>
            </div>
            <div class="game-status">
                <p>vs.</p>
                {{if eq .GameData.GameStatus.StatusCode "I"}}
                    <p>{{.LiveData.LineScore.InningState}} of the {{.LiveData.LineScore.CurrentInningOrdinal}}</p>
                        
                {{else if eq .GameData.GameStatus.StatusCode "F"}}
                    <p>{{.GameData.GameStatus.DetailedState}}</p>
                {{else}}
                    <p>{{localTime .GameData.GameDate.DateTime}}</p>    
                {{end}}
            </div>
            <div class="team-info">
                <h1 class="team-name">
                    <a href="/team/overview/{{.GameData.TeamHolder.Home.ID}}">{{.GameData.TeamHolder.Home.Name}}</a>
                </h1>
                <span class="team-record">{{.GameData.TeamHolder.Home.Record.Wins}}-{{.GameData.TeamHolder.Home.Record.Losses}}</span>
                <h2>{{.LiveData.Boxscore.BoxscoreTeamHolder.Home.BoxscoreTeamStats.BoxscoreTeamBatting.Runs}}</h2>
            </div>
        </div>
        
        <!-- pitcher data -->

        <!-- get pitchers that are playing/played. If none have been declared  -->
        <!-- then use the probable pitcher  -->
        <!-- we have pitchers, zero index is starting and the len-1 is the current pitcher index -->

        <!-- game must be in progess or pre gram to display pitchers, other wise just show used bullpen -->
        {{if ne .GameData.GameStatus.StatusCode "F"}}
            <div>
                <!-- away pitcher -->
                <div class="current-pitcher-holder">
                    <div>
                        {{if gt (len .LiveData.Boxscore.BoxscoreTeamHolder.Away.Pitchers) 0}}
                            <div class="pitcher-data">
                                <h4>Pitching for the {{.GameData.TeamHolder.Away.Name}}</h4>
                                {{template "pitcher" .LiveData.Boxscore.BoxscoreTeamHolder.Away.Pitchers}}
                            </div>
                        {{else}}
                            <div class="pitcher-data">
                                <h4>Probable pitcher for the {{.GameData.TeamHolder.Away.Name}}</h4>
                                {{template "probable" .GameData.ProbablePitcher.Away}}
                            </div>
                        {{end}}
                    </div>

                    <!-- home pitcher -->
                    <div>
                        {{if gt (len .LiveData.Boxscore.BoxscoreTeamHolder.Home.Pitchers) 0}}  
                            <div class="pitcher-data">
                                <h4>Pitching for the {{.GameData.TeamHolder.Home.Name}}</h4>
                                {{template "pitcher" .LiveData.Boxscore.BoxscoreTeamHolder.Home.Pitchers}}
                            </div>      
                        {{else}}
                            <div class="pitcher-data">
                                <h4>Probable pitcher for the {{.GameData.TeamHolder.Home.Name}}</h4>
                                {{template "probable" .GameData.ProbablePitcher.Home}}
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        {{end}}
        
        {{if gt (len .LiveData.Boxscore.BoxscoreTeamHolder.Away.Pitchers) 1}}
            <h4>Spent Pitchers for the {{.GameData.TeamHolder.Away.Name}}</h4>
            {{template "pastPtchrs" pastPitchers .LiveData.Boxscore.BoxscoreTeamHolder.Away.Pitchers .GameData.GameInfo.Pk .GameData.GameStatus.StatusCode}}
        {{end}}
            
        {{if gt (len .LiveData.Boxscore.BoxscoreTeamHolder.Home.Pitchers) 1}}
            <h4>Spent Pitchers for the {{.GameData.TeamHolder.Home.Name}}</h4>
            {{template "pastPtchrs" pastPitchers .LiveData.Boxscore.BoxscoreTeamHolder.Home.Pitchers .GameData.GameInfo.Pk .GameData.GameStatus.StatusCode}}
        {{end}}

        

        
        


        <!-- batter data -->
        <div>
            <!-- batters from away team -->
            {{if ne (len .LiveData.Boxscore.BoxscoreTeamHolder.Away.BattingOrder) 0}}
                <h3>{{.GameData.TeamHolder.Away.Name}} Batting Order</h3>
                {{template "lineup" .LiveData.Boxscore.BoxscoreTeamHolder.Away.BattingOrder}}
            {{else}}
                <p>{{.GameData.TeamHolder.Away.Name}} Have not decalared a lineup</p>
                {{template "lineup" .LiveData.Boxscore.BoxscoreTeamHolder.Away.Bench}}
            {{end}}

            <!-- batters at home -->
            {{if ne (len .LiveData.Boxscore.BoxscoreTeamHolder.Home.BattingOrder) 0}}
                <h3>{{.GameData.TeamHolder.Home.Name}} Batting Order</h3>
                {{template "lineup" .LiveData.Boxscore.BoxscoreTeamHolder.Home.BattingOrder}}
            {{else}}
                <p>{{.GameData.TeamHolder.Home.Name}} Have not decalared a lineup</p>
                {{template "lineup" .LiveData.Boxscore.BoxscoreTeamHolder.Home.Bench}}
            {{end}}
           
        </div>
    </main>
    
</body>
</html>

<style>
    .team-header{
        padding: 10px;
        justify-content: center;
        border: 1px solid black;
        align-items: center;
        display: flex;
    }

    .team-info{
        margin: 10px;
        text-align: center;
    }
    .team-name{
        margin: 0px;
    }
    .team-record{
        font-size: 15px;
        color: lightslategray;
    }
    .current-pitcher-holder{
        margin-top: 1rem;
        justify-content: center;
        display: flex;
        padding: 15px;
        max-width: 100%;
        border: 1px solid black;
    }

    .pitcher-data {
        text-align: center;
    }

    .game-status{
        text-align: center;
        margin: 18px;
    }
</style>