<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Player.FullName}}</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/team/overview/{{.TeamID}}">Back to Roster</a>
    <h2>{{.Player.FullName}}</h2>
    <p>{{.Player.PrimaryPosition.Name}}</p>
    <p>Throws: {{.Player.PitchHand.Description}}</p>
    <p>Bats: {{.Player.Batside.Description}}</p>
    <form action="/player/export" method="post">
        <input type="hidden" name="callback" value="{{.Callback}}">
        <input type="hidden" name="data" value="{{.DataRequest}}">
        <input type="submit" value="Export">
    </form>    
    <table class="player">
        <thead>
            
                <th class="player-stat-header">Season</th>
                <th class="player-stat-header">Team</th>
                <th class="player-stat-header">G</th>
                <th class="player-stat-header">AB</th>
                <th class="player-stat-header">H</th>
                <th class="player-stat-header">BB</th>
                <th class="player-stat-header">TB</th>
                <th class="player-stat-header">RBI</th>
                <th class="player-stat-header">SB</th>
                <th class="player-stat-header">CS</th>
                <th class="player-stat-header">R</th>
                <th class="player-stat-header">HBP</th>
                <th class="player-stat-header">K</th>
                <th class="player-stat-header">AO</th>
                <th class="player-stat-header">GO</th>
                <th class="player-stat-header">2B</th>
                <th class="player-stat-header">3B</th>
                <th class="player-stat-header">HR</th>
                <th class="player-stat-header">OBP</th>
                <th class="player-stat-header">OPS</th>
                <th class="player-stat-header">SLG</th>
                <th class="player-stat-header">AVG</th>
                <th class="player-stat-header">SB%</th>
        </thead>
        {{range .Player.Stats}}
            {{range .Splits}}
            <tr>
                    <td class="player-stat">{{.Season}}</td>
                    <td class="player-stat">{{.SplitTeam.Name}}</td>
                    <td class="player-stat">{{.GamesPlayed}}</td>
                    <td class="player-stat">{{.AtBats}}</td>
                    <td class="player-stat">{{.Hits}}</td>
                    <td class="player-stat">{{.BaseOnBalls}}</td>
                    <td class="player-stat">{{.TotalBases}}</td>
                    <td class="player-stat">{{.Rbi}}</td>
                    <td class="player-stat">{{.StolenBases}}</td>
                    <td class="player-stat">{{.CaughtStealing}}</td>
                    <td class="player-stat">{{.Runs}}</td>
                    <td class="player-stat">{{.HitByPitch}}</td>
                    <td class="player-stat">{{.StrikeOuts}}</td>
                    <td class="player-stat">{{.AirOuts}}</td>
                    <td class="player-stat">{{.GroundOuts}}</td>
                    <td class="player-stat">{{.Doubles}}</td>
                    <td class="player-stat">{{.Triples}}</td>
                    <td class="player-stat">{{.HomeRuns}}</td>
                    <td class="player-stat">{{.Obp}}</td>
                    <td class="player-stat">{{.Ops}}</td>
                    <td class="player-stat">{{.Slg}}</td>
                    <td class="player-stat">{{.Avg}}</td>
                    <td class="player-stat">{{.StolenBasePercentage}}</td>
                </tr>
            {{end}}
        {{end}}
    </table>
</body>
</html>

<style>
    .player {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .player td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .player tr:nth-child(even){background-color: #f2f2f2;}
    .player tr:hover {background-color: #ddd;}
    .player th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
        position: static;
        text-align: center;
        border: 1px solid #ddd;        
    }
</style>

