<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/team/schedule/{{.TeamID}}">
        <input name="start" type="date">
        <input name="end" type="date">
        <input type="submit">

    </form>

    {{range .Data.Dates}}
        {{range .Games}}
            <div>
                <p>{{time .GameDate}}</p>
                <a href="/game/{{.GamePk}}">{{.GameTeamHolder.Away.Name}} vs {{.GameTeamHolder.Home.Name}}</a>
            </div>
        {{end}}
    {{end}}
</body>
</html>